@import '~bootstrap/less/variables.less';
@import '~@transferwise/neptune-css/src/less/variables/_colors.less';

.tabs {
  &__tab {
    display: inline-block;
    padding: @spacer;

    &--selected {
      background-color: @brand-navy;
      color: #fff;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__tab-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__panel-container {
    width: 100%;
    overflow: hidden;
  }

  &__slider {
    display: flex;

    &.is-animating {
      transition: transform 300ms;
    }
  }

  &__panel {
    flex: 1;

    &--selected {
      padding: @spacer;
      border: 1px solid @brand-navy;
    }

    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
    }

    &.exit {
      opacity: 0;
    }
  }
}
